body {
    overflow-x:hidden;
    font-family: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,100;1,200;1,400&display=swap');
.paralax{
    position:absolute;
    height:100%;
}
.paralax-item {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.p-item1 {
    background: url("../images-nutrition/7f59589dbea80f8702d0790698db6d8d.jpg") center/cover no-repeat;
}
.p-item3{
    background: url("../images-nutrition/tree-ai-brush-removebg-d3ru9oc.png") bottom/100% no-repeat;
    background-size:cover;
    background-position:center;
    z-index:2;
}

.notification {
    position:absolute;
    left:65%;
    z-index: 4;
    justify-content: center;
    display:flex;
    flex-wrap:wrap;
    width:250px;
    height:180px;
    z-index:4;
    background-color:white;
    border-radius: 10px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 20% 75%, 10% 90%, 10% 75%, 0 75%);
}
.notification > div{
    height:28px;
font-size:20px;
margin:3px 10px 0px 7px;
border:none;
border-radius:100px;
border-width:4px;
border-color:green;
border-style: solid;
}
.notification > p{
    font-family: 'Brush Script MT', cursive;
    margin:-50px 0 0 5px;
    font-size:18px;
flex:100%;
}
#timer{
    position:absolute;
    margin:5px 0 0 220px;
    font-family: Copperplate, Papyrus, fantasy;
    color:red;
}

.morning-dishes{
    padding-top:10%;
    margin-left:15%;         
display:flex;
flex-wrap:wrap;
justify-content: center;
position:relative;
z-index:1;
}
.lunch-dishes{
padding-top:13%;
margin-left:29%;
display:flex;
flex-wrap:wrap;
justify-content: center;
position:relative;
z-index:1;
}
.dinner-dishes{
padding-bottom:6%;
padding-top:15%;
margin-left:29%;
display:flex;
flex-wrap:wrap;
justify-content: center;
position:relative;
z-index:1;
}
.dishes{
background-color: rgba(255, 255, 255, 0.544);
width:270px;
height:460px;
border-radius:10px;
margin-right:10px;
}
.dishes-status{
display:flex;
flex-wrap:wrap;
}
.dishes-status > div{
font-size:15px;
margin:4px 0px 0px 4px;
border:none;
border-radius:100px;
border-width:3.5px;
border-color:blue;
border-style: solid;

}
.dishes-info{
width:100%;
box-shadow: 0px -5px 10px rgba(35, 35, 35, 0.471);
background-color:white;
border-bottom-right-radius:10px;
border-bottom-left-radius:10px;
}
.dishes-info >h1{
font-size:25px;
padding:5px 0 0 10px;
}
.dishes-info >p{
font-size:18px;
padding:0px 10px 0 15px;
}
.dishes-stars{
font-size:15px;
display:flex;
flex-wrap:wrap;
justify-content: end;
padding:0 10px 4px 0;
margin-top:-16px;
}

#grill-stars{padding:30px 5px 0px 0;}
#turkey-stars{padding:0px 0px 5px 0;} 
#shrimp-stars{padding:0px 0px 5px 0;}
#quinoa-stars{padding:10px 0px 5px 0;}

.dishes-img{
display:flex;
flex-wrap:Wrap;
justify-content: center;
}

.sign {
position:fixed;
z-index:2;
line-height:43px;
text-align: center;
left:12%;
height:320px;
width:250px;
background: url("../images-nutrition/sign2.png") center/cover no-repeat;
}
.sign ul {
    list-style: none;
    padding-top:90px;
    padding-right:30px;
}
.sign a {
    text-decoration: none;
    color: white;
    font-family: "Brush Script MT", cursive;
    font-size: 33px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.sign a:hover {
    color:black;
}
.sign a.active {
    color:black;
}

.home-link {
    top: 50%;
transform: translateY(-50%);
margin-left:-1%;
    font-size:15px;
    position:fixed;
    z-index:2;
    writing-mode: vertical-lr;
}
.home-link a{
    color:white;
    text-decoration: none;
    background-color: rgb(128, 128, 128);
    border-radius:10px;
    padding:8px 5px 8px 20px;
}

.rotate-phone{
display:none;
position:fixed;
z-index: 4;
top:0;left:0;
width:100%;
height:100%;
background: url("../images-nutrition/rotate-phone.jpg") center/cover no-repeat;
}

@media screen and (max-width: 1250px) {
.morning-dishes{
    padding-top:20%;
}
.dinner-dishes{
padding-bottom:8%;
}
.dishes{
width:210px;
height:410px;
}
.dishes-status > div{
margin:2px 0px 0px 2px;
border-width:3px;  
}
.dishes-info{
margin-top:16px;
}
.dishes-info >h1{
font-size:20px;
padding:5px 0 0 5px;
}
.dishes-info >p{
font-size:15px;
padding:0px 5px 0 8px;
}
.dishes-stars{
font-size:12px;
padding:0 7px 4px 0;
}
#frenchtoast-stars{padding:18px 7px 4px 0;}
#grill-stars{padding:40px 5px 0px 0;}
#turkey-stars{padding:33px 0px 5px 0;} 
#shrimp-stars{padding:33px 0px 5px 0;}
#salmon-stars{padding:20px 7px 4px 0;}
#quinoa-stars{padding:33px 0px 5px 0;}

.sign {
top:0;
line-height:40px;
left:6%;
height:300px;
width:230px;
}
.sign ul {
    list-style: none;
    padding-top:85px;
    padding-right:30px;
}
.sign a {
    font-size: 28px;
}
.home-link {
margin-left:-2%;
    font-size:12px;
}
}
@media screen and (max-width:970px){

.rotate-phone{
display:block;
}
}