body{margin:0;
  font-family: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,100;1,200;1,400&display=swap');
a {
    text-decoration:none;
    color:red;
    }
    a:hover{
    background-color:none;
    color:white;
    }
    ul{
      list-style-type:none;
    }
    li{
      float:none;
    }
    li a{
      text-align:none;
      text-decoration:none;
    }
    li a:hover{
    background-color:none;
    color:none;
    }

/*Navigator-start*/
.flex-nav-container {
  z-index: 1;
 position: fixed;
  top: 0;
  width: 100%;
  display:flex;
  justify-content:center;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.2);
  background-color:white;
  flex-wrap: wrap;
}
.flex-nav-container > div{
  color:grey;
  text-align:center;
  font-size: 25px;
  width:130px;
  padding: 0px 0px 5px 0px;
  margin: 0px 0px 0px 0px;
}
.flex-nav-container > div >a{
  text-decoration:none;
color:rgb(26, 80, 147);
}

.flex-nav-container > div >a:hover{
color:grey;
}
div a:hover, .nav-dropdown:hover .dropbtn {
  color:grey;
}
div a, .nav-dropbtn {
  display: inline-block;
  text-decoration: none;
}
div.nav-dropdown {
  display: inline-block;
}
.nav-dropdown-content {
  font-size:20px;
  display: none;
  position: absolute;
  background-color: white;
  margin-top:12px;
  margin-top:5px;
  padding-top:3px;
  min-width: 130px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.nav-dropdown-content a {
  color: rgb(26, 80, 147);
  padding: 12px 24px;
  padding: 12px 25px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.nav-dropdown-content a:hover {color:grey;border-left:2px solid grey;}
.nav-dropdown:hover .nav-dropdown-content {display: block;}

/*Navigator-for-mobile-start*/
.flex-nav-container-mobile {
  z-index: 1;
 position: fixed;
  top: 0;
  width: 100%;
  display:flex;
  justify-content:none;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.2);
  background-color:white;
  flex-wrap: wrap;
}
.menu-dropbtn{
  padding-left:7px;
  border: none;
  outline: none;
  background: transparent;
  margin:50px 0 0px 0;
  color: rgb(26, 80, 147);
  text-decoration: none;
  font-size: 21px;
  font-family: 'Times New Roman', Times, serif;
}
.flex-nav-container-mobile > div{
  text-align:center;
}
.menu-dropdown-content {
  margin-top: 75px;
  font-size:18px;
  display: none;
  position: absolute;
  overflow: auto;
  background-color: white;
  min-width: 110px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.menu-dropdown-content a {
  color: rgb(26, 80, 147);
  text-decoration: none;
  padding:10px 0 10px 10px;
  display: block;
  text-align: left;
}
.menu-dropdown-content a:hover {color:grey;}
.show {display: block;}

/*Navigator-for-mobile-end*/
.img-profile{
  height:10px;
}
@media screen and (max-width: 650px) {
  .flex-nav-container > div{
    font-size: 15px;
  width:100px;
  }
  .img-profile{
    height:20px;
  }
}
.websode-logo {
  height:100px;
}
.nav-pc{
  display:block;
}
.nav-mobile{
  display:none;
}
@media screen and (max-width: 500px) {
  .nav-pc{
  display:none;
}
.nav-mobile{
  display:block;
}
.websode-logo {
  height:70px;
}
}
.drop-dropdown-background {
  background-color: rgba(128, 128, 128, 0.553);
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
}
/*Navigator-END*/
.navigator-background {
  padding-top:100px;
}
@media screen and (max-width: 1000px) {
  .navigator-background {
    padding-top:70px;
  }
}
@media screen and (max-width: 750px) {
  .navigator-background {
    padding-top: 0px;
  }
}
/*Login form-START*/
.login-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  height:500px;
  position:fixed;
  color: hsl(324, 70%, 45%);
  animation: wheelHueColor 10s infinite;
  background-color: currentColor;
}

@supports (background-blend-mode: overlay) {
  .login-background {
    background-image: linear-gradient(45deg, white 10%, black 90%);
    background-blend-mode: overlay;
  }
}
@keyframes wheelHueColor {
  from, to { color: hsl(37, 100%, 49%); }
  10%      { color: hsl(36, 65%, 45%); }
  20%      { color: hsl(36, 100%, 50%); }
  30%      { color: hsl(34, 51%, 50%); }
  40%      { color: hsl(36, 85%, 58%); }
  50%      { color: hsl(196, 73%, 59%); }
  60%      { color: hsl(180, 75%, 35%); }
  70%      { color: hsl(216, 60%, 45%); }
  80%      { color: hsl(252, 65%, 50%); }
  90%      { color: hsl(246, 100%, 50%); }
}


/* misc */
* { margin: 0; padding: 0; }
.login-background {
  min-height: auto;
  display: flex;
}
/* The Modal (background) */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.5);
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 200px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.modal-content button{
  border: none;
  outline: none;
  background: transparent;
  display: inline-block;
  padding: 10px 65px 10px 65px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
 
}
.modal-content .submit button{
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  margin-right:220px;
  margin-bottom:12px;
}
.modal-content button:hover{
  background: orange;
  color: white;
  border-radius: 5px;
}
.close {
  position: absolute;
  right:15px;
  top:4px;
  color: black;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.modal h2 {
  margin: 0 0 10px 0;
  padding: 2px 0 10px 0;
  color: white;
  text-align: center;
}
.modal-content  .user-box {
  position: relative;
  width: 100%;
  height:100%;
}
.modal-content .user-box input {
  width:70%;
  margin-left:15%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  background: transparent;
}
.modal-content .user-box label {
  position: absolute;
  margin-left:15%;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: white;
  pointer-events: none;
  transition: .5s;
}
.modal-content .user-box input:focus ~ label,
.modal-content .user-box input:valid ~ label {
  top: -20px;
  left:0;
  color: orange;
  font-size: 12px;
}
.loginform-logo{
  height:80px;
  padding-top:30%;
  padding-left:10px;
}
.creatform-logo{
  height:120px;
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
@media screen and (max-width:800px){
  .login-background {
    width: 270px;
    height:364px;
  }
  .creatform-logo{
    height:90px;
  }
  .loginform-logo{
    height:60px;
    margin-top: 45px;
    padding-left:10px;
  }
  .modal-content button{
    padding: 10px 65px 10px 65px;
    color: white;
    font-size: 14px;
  }
  .modal-content .submit button{
    padding: 8px 12px 8px 12px;
    font-size: 14px;
    margin-right:150px;
    margin-bottom:70px;
  }
  .modal h2 {
    font-size: 18px;
  }
  .modal-content .user-box input {
    font-size: 14px;
  }
  .modal-content .user-box label {
    font-size: 14px;
  }
  .modal-content .user-box input:focus ~ label,
.modal-content .user-box input:valid ~ label {
  top: -10px;
  font-size: 10px;
}
}
/*Login form-END*/